body {
    background-color: #4B0082;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("/_imagens/gokussj4.png");
    background-repeat: no-repeat;
    background-position: right;
    background-attachment: fixed;
    background-size: 50%;
}

h1 {
    text-align: center;
    background-color: #8B008B;
    width: 100%;
    border-radius: 10px;
    color: gold;
    border: dotted 3px gold;
    font-family: fantasy;
}

fieldset {
    color: white;
    border: solid gold 3px;
}

.dados label {
    margin-bottom: 10px;
    display: block;
}

.dados input {
    padding: 5px;
    border-radius: 5px;
    outline: none;
    width: 60%;
    margin-bottom: 10px;
}

.dadosEx div {
    display: block;
}

.dadosEx input,
.acaiPrefe,
.tamanho {
    margin-top: 15px;
}

.dadosEx,
.acaiPrefe,
.tamanho,
.obser,
button {
    margin-top: 15px;
}

textarea {
    display: block;
    width: 75%;
    height: 150px;
}

textarea::placeholder {
    color: black;
}

select {
    padding: 5px;
    border-radius: 5px;
    width: 30%;
}

button {
    color: white;
    background-color: #9932CC;
    border: none;
    width: 150px;
    height: 50px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 17px;
    text-transform: uppercase;
}

input[type=text]:focus,
input[type=number]:focus,
input[type=email]:focus,
input[type=tel]:focus {
    background: lightpink;
}